<app-menu></app-menu>

<body class="text-center" data-spy="scroll" data-target=".navbar" data-offset="180">
    <div id="contact" class="">
        <section id="home" class="jumbotron vertical-centre bgd shadow" data-speed="5" data-type="background">
            <div class="container">
                <h1>My name is Mohamed Benmoussa.</h1>
                <p>
                    <a href="benmoussa96med@gmail.com" target="_blank" title="Twitter profile" class="btn btn-default btn-lg">
                        <i class="fa fa-twitter"></i>Email
                    </a>
                    <a href="https://linkedin.com/in/dandandanlim" target="_blank" title="LinkedIn profile" class="btn btn-default btn-lg">
                        <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
                    </a>
                    <a href="https://github.com/benmoussa96med" target="_blank" title="GitHub profile" class="btn btn-default btn-lg">
                        <i class="fa fa-github"></i>GitHub
                    </a>
                    <a href="https://freecodecamp.com/caeldom" target="_blank" title="FreeCodeCamp profile" class="btn btn-default btn-lg">
                        <i class="fa fa-fire"></i>FreeCodeCamp
                    </a>
                </p>
                <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=lqrsljdPMqKNJZQJrqCkrWwkTPHSPmBLwDCLTRRjWDFNltMVvcFmwxTRsTgxcfTrPbmHtcHmxjGTBWQDz" target="_blank" title="Email contactMe" class="btn btn-default btn-lg">
                    <i class="fa fa-facebook-square"></i>benmoussa96med@gmail.com
                </a>

                <a target="_blank" title="Number" class="btn btn-default btn-lg">
                    <i class="fa fa-facebook-square"></i>(212)693150187
                </a>
            </div>
        </section>
        <app-footer></app-footer>