<app-menu></app-menu>

<section id="about" style="padding: 30px;">
    <div class="container">
        <h2 class="about-title text-center pt-4">About Me</h2>
        <div class="bottom-line"></div>
        <div class="about-content py-3">
            <div class="about-image"><img src="https://i.postimg.cc/qq8pHYYx/img1.png" alt="Divij Image"></div>
            <div class="about-text">
                <p class="lead">my name's mohamed benmoussa , i am 24 years old, I am originally from morroco and actually living in tetouan. I have a College Degree in developer informatique and a Diplome in Strategic technicien reseau informatique. I've always had
                    a passion for computer science and now I've decided to pursue it and become a self-taught front-end and back-end developer. I have been learning from the this year and done a bunch projects as well.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="skills">
    <div class="container">
        <h2 class="skills-title text-center pt-4">Skills</h2>
        <div class="bottom-line"></div>
        <div class="skills-content py-3">
            <div>
                <h3>JAVASCRIPT</h3>
                <div>
                    <div class="skill-rate" style="width: 70%; background: rgb(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>Html</h3>
                <div>
                    <div class="skill-rate" style="width: 60%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>Css</h3>
                <div>
                    <div class="skill-rate" style="width: 50%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>Angular</h3>
                <div>
                    <div class="skill-rate" style="width: 55%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>NestJS</h3>
                <div>
                    <div class="skill-rate" style="width: 45%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>TestCafe (e2e)</h3>
                <div>
                    <div class="skill-rate" style="width: 60%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
            <div>
                <h3>c#</h3>
                <div>
                    <div class="skill-rate" style="width: 75%; background: rgba(28, 140, 168);"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>