<app-menu></app-menu>
<div class=container>
    <div>
        <h3 id="aboutMe">ABOUT ME</h3>
        <hr>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6" id="aboutMe">
                    <div class="thumbnail">
                        <img src="../../../assets/images/slide2.jpeg">
                    </div>
                </div>
                <div class="col-sm-5" id="infoAboutMe">
                    <h2>MOHAMED BENMOUSSA</h2>
                    <p> I am originally from morroco and actually living in tetouan, WA. I have a College Degree in Business Administration and a Master Degree in Strategic Management. I've always had a passion for computer science and now I've decided to
                        pursue it and become a self-taught front-end and back-end developer.</p>
                </div>
            </div>
        </div>
    </div>
</div>