<app-menu></app-menu>
<app-slide-dev></app-slide-dev>
<app-footer></app-footer>
<!-- --------- -->

<div class="container">
    <div id="projects">
        <h3>PROJECTS</h3>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="../../../assets/my-work/image1.png" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="https://images.unsplash.com/photo-1494444815173-e6b337c86d49?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="https://images.unsplash.com/photo-1464896884302-b2985a79d7f4?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="https://images.unsplash.com/photo-1484837430819-15d5443f3574?dpr=1&auto=compress,format&fit=crop&w=751&h=&q=80&cs=tinysrgb&crop=" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <img src="https://images.unsplash.com/photo-1502500505273-8e5240bbe2ad?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>