<app-menu></app-menu>
<div style="padding: 80px;">
    <div class="card-group">
        <div class="card">
            <img src=".../../../../../assets/service-image/desktop.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">APPLICATION DESKTOP
                </h5>
                <p class="card-text">a desktop application is one that runs in the traditional Windows desktop in contrast to a tablet application that runs full screen. See tablet mode.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/service-image/web.jpeg" class="card-img-top" alt="WEB DEVELOPMENT">
            <div class="card-body">
                <h5 class="card-title">WEB DEVELOPMENT</h5>
                <p class="card-text">From the development of a persona project such as a personal website or blog to End-to-End projects requiring a range of customized solutions .

                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/service-image/responsive.jpeg" class="card-img-top" alt="..."><br>
            <div class="card-body">
                <h5 class="card-title">RESPONSIVE DESIGN
                </h5>
                <p class="card-text">The responsive design approach says that a website should respond to the user according the device, screen size, and orientation. As a result, websites created with the responsive design method are designed to display optimally at a range
                    of sizes, no matter what device or screen resolution the user is using.</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../../../assets/service-image/sql.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> SQL SERVER</h5>
                <p class="card-text">SQL SERVER is a relational database management system (RDBMS) developed by Microsoft. It is primarily designed and developed to compete with MySQL and Oracle database. SQL Server supports ANSI SQL, which is the standard SQL (Structured
                    Query Language) language. However, SQL Server comes with its own implementation of the SQL language, T-SQL (Transact-SQL).</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/service-image/mongodb.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MONGODB</h5>
                <p class="card-text">MongoDB is a document database designed for ease of development and scaling. The Manual introduces key concepts in MongoDB, presents the query language, and provides operational and administrative considerations and procedures.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/service-image/solution.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Develop the Solution
                </h5>
                <p class="card-text">The need to Develop the Solution is the third of the seven strands in the improvement model. It underlines the importance of developing the solution for the system to be improved, following understanding the system and defining the problem,
                    and as a precursor to collecting the evidence. As a result, it is expected that such a solution will be developed in the intermediate stages of the improvement process and revised, as appropriate, as the process develops.
                </p>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>